Source: checkmem-kanotix
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.6.2

Package: checkmem-kanotix
Architecture: all
Depends: hwsetup-kanotix, gawk, xbase-clients
Provides: checkmem
Replaces: checkmem
Description: Simple script to check if enough memory is available
 Check if we have enough memory installed for starting X.
