Source: checkmem
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: checkmem
Architecture: all
Depends: gawk, xbase-clients
Conflicts: checkmem-kanotix
Suggests: initscripts-sidux-live
Description: Simple script to check if enough memory is available
 Check if we have enough memory installed for starting X.
